@charset "UTF-8";





#page_title {
    max-width: 980px; margin: 30px auto; color: #303030; font-size: 28px; font-weight: 700;
}





#board_wrap {
    margin-bottom: 30px;
}

#board_wrap .board_container {
    max-width: 980px; margin: 0 auto; border: 3px solid #9400D1; border-radius: 5px; box-sizing: border-box;
}

#board_wrap .board_container .board_header_wrap {
    display: flex; align-items: center; padding: 10px; background-color: #9400D1;
}

#board_wrap .board_container .board_header_wrap .header_box {
    color: #FFF; font-size: 16px; font-weight: 400; text-align: center;
}

#board_wrap .board_container .board_header_wrap .top_box {
    display: flex; width: 60%;
}

#board_wrap .board_container .board_header_wrap .bottom_box {
    display: flex; width: 40%;
}

#board_wrap .board_container .board_header_wrap .bottom_box .header_box.writer {
    width: 40%;
}
#board_wrap .board_container .board_header_wrap .bottom_box .header_box.view {
    width: 20%;
}
#board_wrap .board_container .board_header_wrap .bottom_box .header_box.date {
    width: 40%;
}







#board_wrap .board_container .board_body_wrap .board_row {
    display: flex; padding: 10px;
}

#board_wrap .board_container .board_body_wrap .board_row .top_box {
    width: 60%;
}

#board_wrap .board_container .board_body_wrap .board_row .bottom_box {
    display: flex; width: 40%;
}

#board_wrap .board_container .board_body_wrap .board_row .bottom_box .body_box {
    text-align: center;
}

#board_wrap .board_container .board_body_wrap .board_row .bottom_box .body_box.writer {
    width: 40%;
}
#board_wrap .board_container .board_body_wrap .board_row .bottom_box .body_box.view {
    width: 20%;
}
#board_wrap .board_container .board_body_wrap .board_row .bottom_box .body_box.date {
    width: 40%;
}





.paging_wrap {
    display: flex; justify-content: center; align-items: center;
}

.paging_wrap .prev_btn,
.paging_wrap .next_btn {
    display: block; width: 24px; height: 24px; border-radius: 4px; border: 1px solid #9400D1; box-sizing: border-box;
}

.paging_wrap .paging_box {
    display: flex; align-items: center; margin: 0 10px;
}

.paging_wrap .paging_box .page_btn {
    display: flex; justify-content: center; align-items: center; width: 24px; height: 24px; border-radius: 4px; border: 1px solid #9400D1; box-sizing: border-box; margin-right: 5px; color: #303030; font-size: 14px; font-weight: 500;
}

.paging_wrap .paging_box .page_btn:last-child {
    margin-right: 0;
}