@charset "UTF-8";




#container {
    padding: 0 0 50px 0;
}

@media screen and (max-width: 1050px) {
    #container {
        padding: 0 10px 50px;
    }
}





#page_title {
    max-width: 980px; margin: 30px auto; color: #303030; font-size: 28px; font-weight: 700;
}

@media screen and (max-width: 1050px) {
    #page_title {
        font-size: 20px;
    }
}





#editor_wrap {
    max-width: 980px; margin: 0 auto;
}






#editor_wrap .value_title {
    display: block; color: #303030; font-size: 20px; font-weight: 700; margin-bottom: 10px;
}




#board_title_wrap {
    margin-bottom: 20px;
}

#board_title_wrap .edit_input {
    display: flex; align-items: center; width: 100%; height: 100%; box-sizing: border-box; border: 2px solid #9400D1; border-radius: 4px; padding: 5px 10px; color: #303030; font-size: 16px; font-weight: 400;
}





#board_contents_wrap {
    margin-bottom: 20px;
}

#board_contents_wrap .value_box {
    border: 2px solid #9400D1; border-radius: 4px; box-sizing: border-box; overflow: hidden;
}





#editor_wrap .bottom_btn_wrap {
    display: flex; justify-content: space-between; align-items: center;
}

#editor_wrap .bottom_btn_wrap button {
    display: flex; justify-content: center; align-items: center; width: calc(50% - 10px); height: 40px; border-radius: 4px; font-size: 16px; font-weight: 700; box-sizing: border-box;
}

#editor_wrap .bottom_btn_wrap .list_btn {
    color: #9400D1; border: 2px solid #9400D1;
}

#editor_wrap .bottom_btn_wrap .edit_btn {
    color: #FFF; background-color: #9400D1;
}








