@charset "UTF-8";






#certificate_wrap {
    display: none; width: 320px; margin: 30px auto 80px; box-sizing: border-box; border-radius: 5px; padding: 10px; background-color: #fff;
}

#certificate_wrap.on {
    display: block;
}

@media screen and (max-width: 1050px) {
    #certificate_wrap {
        margin-bottom: 40px;
    }
}

#certificate_wrap .page_title {
    color: #303030; font-size: 20px; font-weight: 700; text-align: center; margin-bottom: 100px;
}





#certificate_wrap .certificate_box {
    display: flex; justify-content: center; align-items: center; flex-direction: column;
    border: 5px solid var(--main-color-1); padding: 40px 20px 20px; position: relative;
}

#certificate_wrap .certificate_box .top_logo {
    width: 240px; background-color: #FFF; margin-bottom: 40px;
}

#certificate_wrap .certificate_box .top_logo .logo_img {
    display: block; width: 100%;
}





#certificate_wrap .certificate_box .record_info_wrap {
    margin-bottom: 20px;
}

#certificate_wrap .certificate_box .record_info_wrap .info_row {
    display: flex; justify-content: space-between; align-items: center; 
    width: 260px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px; border-radius: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#certificate_wrap .certificate_box .record_info_wrap .info_row:last-child {
    margin-bottom: 0;
}

#certificate_wrap .certificate_box .record_info_wrap .info_row .info_title {
    color: #303030; font-size: 18px; font-weight: 700;
}

#certificate_wrap .certificate_box .record_info_wrap .info_row .info_value {
    color: #303030; font-size: 18px; font-weight: 700;
}





#certificate_wrap .certificate_box .certificate_text {
    color: #303030; font-size: 20px; font-weight: 500; text-align: center; line-height: 1.5; margin-bottom: 20px; word-break: keep-all;
}





#certificate_wrap .certificate_box .myrecord_signature_wrap {
    display: flex; justify-content: space-between; align-items: center; flex-direction: column; width: 100%;
}

#certificate_wrap .certificate_box .myrecord_signature_wrap .certificate_date {
    color: #303030; font-size: 18px; font-weight: 700; margin-bottom: 20px;
}

#certificate_wrap .certificate_box .myrecord_signature_wrap .myrecord_signature {
    width: 160px;
}

#certificate_wrap .certificate_box .myrecord_signature_wrap .myrecord_signature .signature_img {
    display: block; width: 100%;
}





.img_btn_wrap {
    display: flex; justify-content: center; align-items: center;
    margin-bottom: 50px;
}

.img_btn_wrap.off {
    display: none;
}

@media screen and (max-width: 1050px) {
    .img_btn_wrap {
        padding: 0 10px;
    }
}

.img_btn_wrap .certificate_down_btn {
    display: flex; justify-content: center; align-items: center;
    width: 580px; height: 80px;
    color: #FFF; font-size: 18px; font-weight: 700; background-color: var(--main-color-1);
    border-radius: 10px;
}




#capture_wrapper {
    position: fixed; left: 0; bottom: -99999px; width: 320px; opacity: 0;
}