@charset "UTF-8";




#header {
    margin-bottom: 50px;
}


#container {
    padding: 0 0 50px 0;
}

@media screen and (max-width: 1050px) {
    #container {
        padding: 0 10px 50px;
    }
}





#record_sub_menu_container {
    margin-bottom: 30px;
}





#notice_popup_wrap {
    display: none; width: 100%; height: 100%; position: fixed; top: 0; left: 0; background-color: rgba(0, 0, 0, 0.3); z-index: 9;
}

#notice_popup_wrap.on {
    display: block;
}

#notice_popup_wrap .popup_box {
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); width: 320px; border-radius: 10px; overflow: hidden;
}

#notice_popup_wrap .popup_box .popup_header {
    color: #FFF; font-size: 20px; font-weight: 500; line-height: 1.5; background-color: var(--main-color-1); padding: 15px 0; text-align: center;
}

#notice_popup_wrap .popup_box .popup_body {
    color: #303030; font-size: 18px; font-weight: 500; line-height: 1.5; letter-spacing: -0.4px; padding: 20px; background-color: #FFF; text-align: center; word-break: keep-all;
}

#notice_popup_wrap .popup_box .access_btn {
    display: block; width: 100%; padding: 15px 0; background-color: var(--main-color-1); color: #FFF; font-size: 18px; font-weight: 700; line-height: 1.5;
}




.edit_wrap {
    width: 980px; margin: 0 auto;
}

.edit_wrap .edit_title {
    color: #303030; font-size: 22px; font-weight: 700; margin-bottom: 20px;
}

.edit_wrap .record_option_wrap {
    display: flex; justify-content: space-between; margin-bottom: 20px;
}

.edit_wrap .record_option_wrap .myrecord_input_wrap {
    width: calc(50% - 10px);
}

@media screen and (max-width: 1050px) {
    .edit_wrap {
        width: auto;
    }

    .edit_wrap .record_option_wrap {
        flex-direction: column;
    }

    .edit_wrap .record_option_wrap .myrecord_input_wrap {
        width: auto;
    }

    .edit_wrap .record_option_wrap .myrecord_input_wrap.record_type {
        margin-bottom: 20px;
    }
}




.myrecord_input_wrap.file_wrap {
    margin-bottom: 30px;
}

.file_add_wrap .file_add_wrap_header {
    display: flex; margin-bottom: 10px;
}

.file_add_wrap .file_add_wrap_header .add_btn {
    display: flex; color: #FFF; font-size: 16px; background-color: #333; border-radius: 4px; padding: 5px 10px;
}

.file_add_wrap .file_row_box .file_row {
    display: flex; align-items: center; box-sizing: border-box; border: 2px solid #333; border-radius: 4px; padding: 10px; margin-bottom: 5px;
}

.file_add_wrap .file_row_box .file_row:last-child {
    margin-bottom: 0;
}

.file_add_wrap .file_row_box .file_row input[type="file"] {
    display: none;
}

.file_add_wrap .file_row_box .file_row .file_name_box {
    width: calc(100% - 120px); margin-right: 10px; color: #303030; font-size: 14px; font-weight: 500; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;
}

.file_add_wrap .file_row_box .file_row .file_row_remote_box {
    display: flex; width: 110px;
}

.file_add_wrap .file_row_box .file_row .file_row_remote_box .file_select_btn {
    display: flex; justify-content: center; align-items: center; width: 50px; height: 30px; color: #fff; font-size: 14px; font-weight: 400; background-color: #333; margin-right: 10px; border-radius: 4px;
}

.file_add_wrap .file_row_box .file_row .file_row_remote_box .file_view_btn {
    display: flex; justify-content: center; align-items: center; width: 70px; height: 30px; color: #fff; font-size: 14px; font-weight: 400; background-color: #333; margin-right: 10px; border-radius: 4px;
}

.file_add_wrap .file_row_box .file_row .file_row_remote_box .file_delete_btn {
    display: flex; justify-content: center; align-items: center; width: 50px; height: 30px; color: #fff; font-size: 14px; font-weight: 400; background-color: #ff1300; border-radius: 4px;
}







.edit_wrap .footer_btn_wrap {
    display: flex; justify-content: space-between; align-items: center;
}

.edit_wrap .footer_btn_wrap .list_btn {
    display: flex; justify-content: center; align-items: center; width: 100px; height: 40px; color: #303030; font-size: 16px; font-weight: 500; background-color: #FFF; border-radius: 4px; border: 2px solid #333; box-sizing: border-box;
}

.edit_wrap .footer_btn_wrap .update_btn {
    display: flex; justify-content: center; align-items: center; width: 100px; height: 40px; color: #FFF; font-size: 16px; font-weight: 500; background-color: #333; border-radius: 4px;
}


