@charset "UTF-8";





#slide_wrap {
    margin-bottom: 10px;
}

#slide_wrap .swiper-container {
    position: relative;
}

#slide_wrap .swiper-container .swiper-slide {
    height: 300px; background-color: #ddd;
}











#free_board_wrap {
    background: #eee; padding: 30px 0;
}

#free_board_wrap .board_wrap {
    max-width: 980px; margin: 0 auto; border: 3px solid #9400D1; border-radius: 5px;
}

#free_board_wrap .board_wrap .board_title_wrap {
    display: flex; align-items: center; height: 34px; padding: 0 5px; background-color: #9400D1;
}

#free_board_wrap .board_wrap .board_title_wrap .board_title {
    color: #FFF; font-size: 16px; font-weight: 500;
}

#free_board_wrap .board_wrap .board_body_wrap {
    padding: 10px 5px; background-color: #FFF;
}

#free_board_wrap .board_wrap .board_body_wrap .body_row {
    display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;
}

#free_board_wrap .board_wrap .board_body_wrap .body_row:last-child {
    margin-bottom: 0;
}

#free_board_wrap .board_wrap .board_body_wrap .body_row .contents_title {
    color: #303030; font-size: 16px; font-weight: 400;
}