@charset "UTF-8";





#section_1 {
    background: url("/img/main/section_1.jpg") 50% 50% no-repeat; background-size: cover;
}

#section_1 .bg_layer {
    background-color: rgba(0, 0, 0, 0.6); width: 100%; height: 100%;
}

#section_1 .section_text_wrap {
    max-width: 980px; padding: 120px 20px; margin: 0 auto; display: flex; justify-content: center; align-items: center; flex-direction: column;
}

#section_1 .section_text_wrap .text_1 {
    color: #FFF; font-size: 50px; font-weight: 700; margin-bottom: 30px; line-height: 1.4; text-align: center; text-shadow: 3px 4px 0px #000; word-break: keep-all;
}

#section_1 .section_text_wrap .record_btn {
    display: flex; justify-content: center; align-content: center; padding: 20px; background-color: #1c1c1ce0; border-radius: 50px; color: #FFF; font-size: 18px; font-weight: 500;
}

#section_1 .section_text_wrap .record_btn i {
    padding-top: 2px; padding-left: 4px;
}

@media screen and (max-width: 1050px) {
    #section_1 .section_text_wrap {
        padding: 60px 20px;
    }

    #section_1 .section_text_wrap .text_1 {
        font-size: 30px;
    }
}





#section_2 .section_wrap {
    max-width: 980px; margin: 0 auto; padding: 150px 0; display: flex; justify-content: space-between;
}

#section_2 .section_wrap .article_box {
    width: 200px; border: 6px solid #0096FF; border-radius: 10px; box-sizing: border-box; padding: 20px 10px; position: relative;
}

#section_2 .section_wrap .article_box::after {
    content: ''; width: 21px; height: 21px; overflow: hidden; background: url('/img/main/right_arrow.png') 50% no-repeat; background-size: contain; position: absolute; top: 50%; right: -46px; transform: translate(0, -50%); -webkit-transform: translate(0, -50%);
}

#section_2 .section_wrap .article_box:last-child::after {
    display: none;
}

#section_2 .section_wrap .article_box .box_title {
    color: #303030; font-size: 22px; font-weight: 700; text-align: center; margin-bottom: 30px;
}

#section_2 .section_wrap .article_box .box_text {
    color: #666; font-size: 16px; font-weight: 500; line-height: 1.5; letter-spacing: -0.4px; text-align: center; word-break: keep-all;
}

@media screen and (max-width: 1050px) {
    #section_2 .section_wrap {
        display: block; max-width: none; margin: 0; padding: 100px 20px;
    }

    #section_2 .section_wrap .article_box {
        width: 100%; margin-bottom: 50px;
    }

    #section_2 .section_wrap .article_box:after {
        top: inherit; bottom: -53px; right: 50%; background-image: url('/img/main/bottom_arrow.png');
    }

    #section_2 .section_wrap .article_box:last-child {
        margin-bottom: 0;
    }
}





#section_3 {
    height: 450px; background: url('/img/main/section_3.jpg') 50% no-repeat; background-size: cover; background-attachment: fixed; -webkit-background-attachment: fixed;
}

#section_3 .section_wrap {
    width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 1050px) {
    #section_3 {
        height: 300px;
    }
}






